@model TestAutoPost.Models.Post

@{
    ViewBag.Title = "Index";
}

<div style="width: auto; background-color: #728ea7;">
    @if (Request.IsAuthenticated) {
        <strong>@Html.Encode(User.Identity.Name)</strong>
        @Html.ActionLink("Sign Out", "Logout", "User")
    }
    else {
        @Html.ActionLink("Sign In", "Login", "User")
    }
</div>

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Posting</legend>
        <table>
            <tr>
                <td>Title:</td>
                <td>@Html.TextBoxFor(model => model.MessageTitle)</td>
            </tr>
            <tr>
                <td>Body:</td>
                <td>@Html.TextBoxFor(model => model.MessageBody)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Submit" />
                </td>
            </tr>
        </table>
    </fieldset>
}